# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
dashboard/.ipynb_checkpoints/

# Project cache
data/__pycache__/
data/locust_scenarios/__pycache__/

# Generated monitoring data
data/collected/*.csv
data/collected/*.db
data/processed/
